<employee-count 
[all]="getTotalEmployeeCount()"
[male]="getMaleEmployeeCount()"
[female]="getFemaleEmployeeCount()"
(countRadioButtonSelectionChanged)="OnEmployeeRedioButtonChange($event)"
> </employee-count>


<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let employee of employees;">
        <tr  *ngIf="selectCountEmployeeRadioButton == 'All' || selectCountEmployeeRadioButton == employee.gender">
            <td>{{employee.code | uppercase}} {{selectCountEmployeeRadioButton}}</td>
            <td>{{employee.name | employeeTitle:employee.gender }}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annualSalary | currency:'USD':true:'1.3-3'}}</td>
            <td>{{employee.dateOfBirth | date:'dd/MM/y'}}</td>
        </tr>
    </ng-container>
        <tr *ngIf="!employees || employees.length==0">
            <td colspan="5">
                No employees to display
            </td>
        </tr>
    </tbody>
</table>